USE [master]
GO
/****** Object:  Database [GBook]    Script Date: 28-Jun-22 20:25:25 ******/
CREATE DATABASE [GBook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GBook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GBook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GBook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GBook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GBook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GBook]
GO
/****** Object:  Table [dbo].[Alerta]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Activo] [bit] NOT NULL,
	[CantidadStockAviso] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
 CONSTRAINT [PK_Alerta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Apellido] [nvarchar](200) NOT NULL,
	[Seudonimo] [nvarchar](200) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Autor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprobanteCompra]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobanteCompra](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaRecepcion] [datetime2](7) NULL,
	[EnvioId] [int] NOT NULL,
	[Detalle] [nvarchar](500) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_ComprobanteCompra] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprobanteVenta]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobanteVenta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Detalle] [nvarchar](500) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_ComprobanteVenta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleComprobante]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleComprobante](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [real] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Total] [float] NOT NULL,
	[ComprobanteCompraId] [int] NULL,
	[ComprobanteVentaId] [int] NULL,
 CONSTRAINT [PK_DetalleComprobante] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editorial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Editorial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envio]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Domicilio] [nvarchar](200) NOT NULL,
	[Numero] [nvarchar](200) NOT NULL,
	[EntreCalles] [nvarchar](200) NOT NULL,
	[TelefonoContacto] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Envio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiqueta]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreEtiqueta] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Etiqueta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaPatente]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPatente](
	[PadreId] [int] NOT NULL,
	[HijoId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Genero] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](500) NOT NULL,
	[Default] [bit] NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Permiso] [nvarchar](200) NULL,
 CONSTRAINT [PK_Patente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](200) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Precio] [float] NOT NULL,
	[CantidadPaginas] [int] NOT NULL,
	[EnVenta] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[AutorId] [int] NOT NULL,
	[GeneroId] [int] NOT NULL,
	[EditorialId] [int] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdiomaId] [int] NOT NULL,
	[EtiquetaId] [int] NOT NULL,
	[Traduccion] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Traduccion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Bloqueo] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioPermiso]    Script Date: 28-Jun-22 20:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPermiso](
	[UsuarioId] [int] NOT NULL,
	[PatenteId] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alerta] ON 

INSERT [dbo].[Alerta] ([Id], [Activo], [CantidadStockAviso], [ProductoId]) VALUES (1, 1, 10, 1)
INSERT [dbo].[Alerta] ([Id], [Activo], [CantidadStockAviso], [ProductoId]) VALUES (2, 0, 0, 2)
INSERT [dbo].[Alerta] ([Id], [Activo], [CantidadStockAviso], [ProductoId]) VALUES (3, 1, 15, 3)
SET IDENTITY_INSERT [dbo].[Alerta] OFF
GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([Id], [Nombre], [Apellido], [Seudonimo], [Activo]) VALUES (1, N'Joanne', N'Rowling', N'J.K. Rowling', 1)
INSERT [dbo].[Autor] ([Id], [Nombre], [Apellido], [Seudonimo], [Activo]) VALUES (2, N'Sarah Janet', N'Maas', N'Sarah J. Maas', 1)
INSERT [dbo].[Autor] ([Id], [Nombre], [Apellido], [Seudonimo], [Activo]) VALUES (3, N'Stephen Edwin', N'King', N'Stephen King', 1)
SET IDENTITY_INSERT [dbo].[Autor] OFF
GO
SET IDENTITY_INSERT [dbo].[ComprobanteCompra] ON 

INSERT [dbo].[ComprobanteCompra] ([Id], [FechaRecepcion], [EnvioId], [Detalle], [Fecha], [Total]) VALUES (1, CAST(N'2022-06-21T18:14:43.3900000' AS DateTime2), 1, N'Compra saga harry potter', CAST(N'2022-06-21T18:11:38.8266667' AS DateTime2), 110000)
INSERT [dbo].[ComprobanteCompra] ([Id], [FechaRecepcion], [EnvioId], [Detalle], [Fecha], [Total]) VALUES (2, CAST(N'2022-06-21T18:14:51.1633333' AS DateTime2), 2, N'Compra saga corte de rosas y espinas', CAST(N'2022-06-21T18:12:23.9400000' AS DateTime2), 115000)
INSERT [dbo].[ComprobanteCompra] ([Id], [FechaRecepcion], [EnvioId], [Detalle], [Fecha], [Total]) VALUES (3, CAST(N'2022-06-21T18:19:41.9866667' AS DateTime2), 3, N'Compra de saga crónica de asesino de reyes', CAST(N'2022-06-21T18:16:37.0033333' AS DateTime2), 30000)
SET IDENTITY_INSERT [dbo].[ComprobanteCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[ComprobanteVenta] ON 

INSERT [dbo].[ComprobanteVenta] ([Id], [Detalle], [Fecha], [Total]) VALUES (1, N'Venta HP 1 y 2', CAST(N'2022-06-21T18:21:02.9200000' AS DateTime2), 7000)
INSERT [dbo].[ComprobanteVenta] ([Id], [Detalle], [Fecha], [Total]) VALUES (2, N'Venta hp 5', CAST(N'2022-06-21T18:21:28.1900000' AS DateTime2), 6299.99)
INSERT [dbo].[ComprobanteVenta] ([Id], [Detalle], [Fecha], [Total]) VALUES (3, N'Venta de saga una corte de rosas y espinas', CAST(N'2022-06-21T18:21:42.0466667' AS DateTime2), 13072.24)
SET IDENTITY_INSERT [dbo].[ComprobanteVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleComprobante] ON 

INSERT [dbo].[DetalleComprobante] ([Id], [Cantidad], [PrecioUnitario], [ProductoId], [Total], [ComprobanteCompraId], [ComprobanteVentaId]) VALUES (1, 5, 2000, 1, 10000, 1, NULL)
INSERT [dbo].[DetalleComprobante] ([Id], [Cantidad], [PrecioUnitario], [ProductoId], [Total], [ComprobanteCompraId], [ComprobanteVentaId]) VALUES (2, 5, 2000, 2, 10000, 1, NULL)
INSERT [dbo].[DetalleComprobante] ([Id], [Cantidad], [PrecioUnitario], [ProductoId], [Total], [ComprobanteCompraId], [ComprobanteVentaId]) VALUES (3, 10, 2000, 3, 20000, 1, NULL)
SET IDENTITY_INSERT [dbo].[DetalleComprobante] OFF
GO
SET IDENTITY_INSERT [dbo].[Editorial] ON 

INSERT [dbo].[Editorial] ([Id], [Nombre], [Activo]) VALUES (1, N'Salamandra', 1)
INSERT [dbo].[Editorial] ([Id], [Nombre], [Activo]) VALUES (2, N'Planeta', 1)
INSERT [dbo].[Editorial] ([Id], [Nombre], [Activo]) VALUES (3, N'Bloomsbury YA', 1)
SET IDENTITY_INSERT [dbo].[Editorial] OFF
GO
SET IDENTITY_INSERT [dbo].[Envio] ON 

INSERT [dbo].[Envio] ([Id], [Domicilio], [Numero], [EntreCalles], [TelefonoContacto]) VALUES (1, N'Prueba', N'120', N'Prueba y prueba', N'1135345342')
INSERT [dbo].[Envio] ([Id], [Domicilio], [Numero], [EntreCalles], [TelefonoContacto]) VALUES (2, N'Prueba', N'656', N'Prueba y prueba', N'115653573')
INSERT [dbo].[Envio] ([Id], [Domicilio], [Numero], [EntreCalles], [TelefonoContacto]) VALUES (3, N'Prueba', N'88', N'Prueba y prueba', N'1185836704')
SET IDENTITY_INSERT [dbo].[Envio] OFF
GO
SET IDENTITY_INSERT [dbo].[Etiqueta] ON 

INSERT [dbo].[Etiqueta] ([Id], [NombreEtiqueta]) VALUES (1, N'lbl_Bienvenido')
INSERT [dbo].[Etiqueta] ([Id], [NombreEtiqueta]) VALUES (2, N'lbl_AlertaPedidoStock')
INSERT [dbo].[Etiqueta] ([Id], [NombreEtiqueta]) VALUES (3, N'lbl_NombreAutor')
GO
SET IDENTITY_INSERT [dbo].[Etiqueta] OFF
GO
INSERT [dbo].[FamiliaPatente] ([PadreId], [HijoId]) VALUES (20, 19)
INSERT [dbo].[FamiliaPatente] ([PadreId], [HijoId]) VALUES (17, 1)
INSERT [dbo].[FamiliaPatente] ([PadreId], [HijoId]) VALUES (17, 2)
GO
SET IDENTITY_INSERT [dbo].[Genero] ON 

INSERT [dbo].[Genero] ([Id], [Nombre], [Activo]) VALUES (1, N'Aventura', 1)
INSERT [dbo].[Genero] ([Id], [Nombre], [Activo]) VALUES (2, N'Ciencia ficción', 1)
INSERT [dbo].[Genero] ([Id], [Nombre], [Activo]) VALUES (3, N'Fantasía', 1)
SET IDENTITY_INSERT [dbo].[Genero] OFF
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([Id], [Nombre], [Default]) VALUES (1, N'Español', 1)
INSERT [dbo].[Idioma] ([Id], [Nombre], [Default]) VALUES (2, N'English', 0)
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([Id], [Nombre], [Permiso]) VALUES (1, N'Cargar producto', N'AltaProducto')
INSERT [dbo].[Permiso] ([Id], [Nombre], [Permiso]) VALUES (2, N'Modificar producto', N'ModificarProducto')
INSERT [dbo].[Permiso] ([Id], [Nombre], [Permiso]) VALUES (3, N'Baja producto', N'BajaProducto')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([Id], [ISBN], [Nombre], [Precio], [CantidadPaginas], [EnVenta], [Activo], [AutorId], [GeneroId], [EditorialId]) VALUES (1, N'9789878000404', N'Harry Potter Y La Piedra Filosofal', 3500, 288, 1, 1, 1, 10, 1)
INSERT [dbo].[Producto] ([Id], [ISBN], [Nombre], [Precio], [CantidadPaginas], [EnVenta], [Activo], [AutorId], [GeneroId], [EditorialId]) VALUES (2, N'9789878000442', N'Harry Potter Y La Camara Secreta', 3500, 320, 1, 1, 1, 10, 1)
INSERT [dbo].[Producto] ([Id], [ISBN], [Nombre], [Precio], [CantidadPaginas], [EnVenta], [Activo], [AutorId], [GeneroId], [EditorialId]) VALUES (3, N'9789878000176', N'Harry Potter Y El Prisionero De Azkaban', 3500, 384, 1, 1, 1, 10, 1)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([Id], [Cantidad], [ProductoId]) VALUES (1, 14, 1)
INSERT [dbo].[Stock] ([Id], [Cantidad], [ProductoId]) VALUES (2, 4, 2)
INSERT [dbo].[Stock] ([Id], [Cantidad], [ProductoId]) VALUES (3, 10, 3)
SET IDENTITY_INSERT [dbo].[Stock] OFF
GO
SET IDENTITY_INSERT [dbo].[Traduccion] ON 

INSERT [dbo].[Traduccion] ([Id], [IdiomaId], [EtiquetaId], [Traduccion]) VALUES (1, 1, 1, N'Bienvenido')
INSERT [dbo].[Traduccion] ([Id], [IdiomaId], [EtiquetaId], [Traduccion]) VALUES (2, 1, 2, N'Alerta: hay producto/s que requieren su atención')
INSERT [dbo].[Traduccion] ([Id], [IdiomaId], [EtiquetaId], [Traduccion]) VALUES (3, 1, 46, N'Cerrar sesión')
GO
SET IDENTITY_INSERT [dbo].[Traduccion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioId], [Email], [Password], [Nombre], [Apellido], [Bloqueo]) VALUES (1, N'zytYsyL7FNNuleTccgskCjdX97Xz9JJxAcOZ0og07bk=', N'Wpc+Gn1uW+hvznWX3+/fHumxStJc9kcf6xgOu8StqLU=', N'DwYpXQd5ThCKyOtdkQfiAQ==', N'9vYEdDvaswxngkpKwSqPjw==', 1)
INSERT [dbo].[Usuario] ([UsuarioId], [Email], [Password], [Nombre], [Apellido], [Bloqueo]) VALUES (2, N'ms7RvBSd7oUmWdFJv20ue3AAY/zXX9soN6FRs3lcZI0=', N'Wpc+Gn1uW+hvznWX3+/fHumxStJc9kcf6xgOu8StqLU=', N'XGABM4Mvw4N7say/j/nBjA==', N'XGABM4Mvw4N7say/j/nBjA==', 0)
INSERT [dbo].[Usuario] ([UsuarioId], [Email], [Password], [Nombre], [Apellido], [Bloqueo]) VALUES (3, N'M4ADRNJO470zsQJoQSLdOCpBD0NqKpR6/BjfsX1fnac=', N'Wpc+Gn1uW+hvznWX3+/fHumxStJc9kcf6xgOu8StqLU=', N'lwzLBlssKzhTuH9YKpsXhg==', N'lwzLBlssKzhTuH9YKpsXhg==', 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[UsuarioPermiso] ([UsuarioId], [PatenteId]) VALUES (1, 17)
INSERT [dbo].[UsuarioPermiso] ([UsuarioId], [PatenteId]) VALUES (2, 18)
INSERT [dbo].[UsuarioPermiso] ([UsuarioId], [PatenteId]) VALUES (3, 19)
GO
/****** Object:  Index [IX_Alerta_ProductoId]    Script Date: 28-Jun-22 20:25:25 ******/
CREATE NONCLUSTERED INDEX [IX_Alerta_ProductoId] ON [dbo].[Alerta]
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ComprobanteCompra_EnvioId]    Script Date: 28-Jun-22 20:25:25 ******/
CREATE NONCLUSTERED INDEX [IX_ComprobanteCompra_EnvioId] ON [dbo].[ComprobanteCompra]
(
	[EnvioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleComprobante_ComprobanteCompraId]    Script Date: 28-Jun-22 20:25:25 ******/
CREATE NONCLUSTERED INDEX [IX_DetalleComprobante_ComprobanteCompraId] ON [dbo].[DetalleComprobante]
(
	[ComprobanteCompraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleComprobante_ComprobanteVentaId]    Script Date: 28-Jun-22 20:25:25 ******/
CREATE NONCLUSTERED INDEX [IX_DetalleComprobante_ComprobanteVentaId] ON [dbo].[DetalleComprobante]
(
	[ComprobanteVentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleComprobante_ProductoId]    Script Date: 28-Jun-22 20:25:25 ******/
CREATE NONCLUSTERED INDEX [IX_DetalleComprobante_ProductoId] ON [dbo].[DetalleComprobante]
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Producto_AutorId]    Script Date: 28-Jun-22 20:25:25 ******/
CREATE NONCLUSTERED INDEX [IX_Producto_AutorId] ON [dbo].[Producto]
(
	[AutorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Producto_EditorialId]    Script Date: 28-Jun-22 20:25:25 ******/
CREATE NONCLUSTERED INDEX [IX_Producto_EditorialId] ON [dbo].[Producto]
(
	[EditorialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Producto_GeneroId]    Script Date: 28-Jun-22 20:25:25 ******/
CREATE NONCLUSTERED INDEX [IX_Producto_GeneroId] ON [dbo].[Producto]
(
	[GeneroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alerta]  WITH CHECK ADD  CONSTRAINT [FK_Alerta_Producto_ProductoId] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Alerta] CHECK CONSTRAINT [FK_Alerta_Producto_ProductoId]
GO
ALTER TABLE [dbo].[ComprobanteCompra]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteCompra_Envio_EnvioId] FOREIGN KEY([EnvioId])
REFERENCES [dbo].[Envio] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComprobanteCompra] CHECK CONSTRAINT [FK_ComprobanteCompra_Envio_EnvioId]
GO
ALTER TABLE [dbo].[DetalleComprobante]  WITH CHECK ADD  CONSTRAINT [FK_DetalleComprobante_ComprobanteCompra_ComprobanteCompraId] FOREIGN KEY([ComprobanteCompraId])
REFERENCES [dbo].[ComprobanteCompra] ([Id])
GO
ALTER TABLE [dbo].[DetalleComprobante] CHECK CONSTRAINT [FK_DetalleComprobante_ComprobanteCompra_ComprobanteCompraId]
GO
ALTER TABLE [dbo].[DetalleComprobante]  WITH CHECK ADD  CONSTRAINT [FK_DetalleComprobante_ComprobanteVenta_ComprobanteVentaId] FOREIGN KEY([ComprobanteVentaId])
REFERENCES [dbo].[ComprobanteVenta] ([Id])
GO
ALTER TABLE [dbo].[DetalleComprobante] CHECK CONSTRAINT [FK_DetalleComprobante_ComprobanteVenta_ComprobanteVentaId]
GO
ALTER TABLE [dbo].[DetalleComprobante]  WITH CHECK ADD  CONSTRAINT [FK_DetalleComprobante_Producto_ProductoId] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleComprobante] CHECK CONSTRAINT [FK_DetalleComprobante_Producto_ProductoId]
GO
ALTER TABLE [dbo].[FamiliaPatente]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPatente_Permiso] FOREIGN KEY([PadreId])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[FamiliaPatente] CHECK CONSTRAINT [FK_FamiliaPatente_Permiso]
GO
ALTER TABLE [dbo].[FamiliaPatente]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPatente_Permiso1] FOREIGN KEY([HijoId])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[FamiliaPatente] CHECK CONSTRAINT [FK_FamiliaPatente_Permiso1]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Autor_AutorId] FOREIGN KEY([AutorId])
REFERENCES [dbo].[Autor] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Autor_AutorId]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Editorial_EditorialId] FOREIGN KEY([EditorialId])
REFERENCES [dbo].[Editorial] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Editorial_EditorialId]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Genero_GeneroId] FOREIGN KEY([GeneroId])
REFERENCES [dbo].[Genero] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Genero_GeneroId]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([Id])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Producto]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Etiqueta] FOREIGN KEY([EtiquetaId])
REFERENCES [dbo].[Etiqueta] ([Id])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Etiqueta]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([IdiomaId])
REFERENCES [dbo].[Idioma] ([Id])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO
ALTER TABLE [dbo].[UsuarioPermiso]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPermiso_Patente] FOREIGN KEY([PatenteId])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[UsuarioPermiso] CHECK CONSTRAINT [FK_UsuarioPermiso_Patente]
GO
ALTER TABLE [dbo].[UsuarioPermiso]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPermiso_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[UsuarioPermiso] CHECK CONSTRAINT [FK_UsuarioPermiso_Usuario]
GO
USE [master]
GO
